{% extends 'attendance/base.html' %}
{% block content %}
<h3 class="mb-3">Reports</h3>
<div class="row g-3">
  <div class="col-md-4"><div class="card"><div class="card-body"><h5>Daily Report</h5><a class="btn btn-primary btn-sm" href="{% url 'daily_report' %}">Open</a></div></div></div>
  <div class="col-md-4"><div class="card"><div class="card-body"><h5>Monthly Report</h5><a class="btn btn-primary btn-sm" href="{% url 'monthly_report' %}">Open</a></div></div></div>
  <div class="col-md-4"><div class="card"><div class="card-body"><h5>Class Report</h5><a class="btn btn-primary btn-sm" href="{% url 'class_report' %}">Open</a></div></div></div>
</div>
{% endblock %}
